/* General Styles */
body {
  background-color: rgb(63, 1, 96);
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-image: repeat-x url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3E%3Ctext y='50%25' x='50%25' dominant-baseline='middle' text-anchor='middle' style='font-size:32px;'%3E🎩%3C/text%3E%3C/svg%3E");
  background-size: 100px auto;
  animation: scrollEmoji 10s linear infinite;
}

h1 {
  font-size: 4.5em;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000, 5px 5px 0 #000;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  background-color: #721CB8;
  color: #ffffff;
  border: none;
  padding: 30px 60px;
  cursor: pointer;
  margin-top: 75px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 15px #590D82;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background-color: #80C423;
  box-shadow: 0 15px #659a1b;
}

button:active {
  transform: translateY(10px);
  box-shadow: 0 5px #659a1b;
}

/* Text Elements */
p, .markings, .list-text {
  font-size: 1.2em;
  margin-bottom: 3px;
}

.green-text, .currentReset {
  color: #80C423;
}

.winner, .markings {
  color: goldenrod;
}

.wallet-address, .top-hat-icon {
  font-size: 0.8rem;
}

.wallet-address {
  position: absolute;
  right: 20px;
}

/* Game Specific Styles */
.gameBox, .progress-bar, .modal-content {
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
}

.winner-button, .modal-content {
  background-color: #000000;
}

.progress-container {
  display: flex;
  justify-content: center;  /* Horizontally centers the child in the flex container */
  align-items: center;      /* Vertically centers the child in the flex container */
}

.progress-bar {
  width: 60%;
  height: 50px;
  background-color: #8f8f8f;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;  /* Ensures that content inside the progress bar (if any) is centered */
}

.progress{
  width: 0%;
  background-color: #4CAF50;
  height: 100%;
  transition: width .5s ease-in-out;
  border:rgba(0, 0, 0, 0.19);

}

/* Header and Footer */
header, footer {
  padding: 20px 40px;
  background: #33333300;
  color: white;
  flex-direction: column;
}

/* Modals and Pop-ups */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(48, 48, 48, 0.4);
}

.modal-content {
  background-color: #500A6F;
  margin: 15% auto;
  padding: 20px;
  border: 5px solid #ffffff;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: animatetop 0.4s;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover, .close-button:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

/* Lists and Icons */
.top-hat-list {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  text-align: left;
}

.top-hat-icon {
  font-size: 2em;
  margin-right: 5px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  h1, button {
    font-size: 1.5em;
  }

  .progress-bar, .gameBox {
    width: 50%;
  }

  body {
    background-size: 50px auto;
  }

  .wallet-address, p, .markings, .list-text {
    font-size: 0.9rem;
  }

  .signature{
    font-size: 0.9rem;
    position: absolute;
    left: 20px;

  }

  .modal-content {
    width: 90%;
  }

  footer {
    font-size: 0.8rem;
  }
}

@keyframes scrollEmoji {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}