body {
  background-color: #491A74; /* Light gray */
  color: #ffffff; /* Dark gray */
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

h1 {
  font-size: 4.5em;
  margin-top: 25px;
  color: #ffffff;
  outline: #485054;
  outline-width: 5px;
}

p {
  font-size: 1.2em;
  margin-bottom: 3px;
  
}

span {
  color: #80C423; /* Google Red */
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  background-color: #721CB8; /* Google Blue */
  color: #ffffff; /* White */
  border: 0;
  padding: 30px 60px;
  cursor: pointer;
  margin-top: 75px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #80C423;

}

.winner-button {
  background-color: #000000;
}

.progress-bar {
  width: 100%;
  height: 50px;
  background-color: #8f8f8f; /* Change this color to your desired color for the progress bar background */
  margin-bottom: 0px;
  overflow: hidden;
}

.markings {
  color: #721CB8;
 /* Change this color to your desired color for the markings text */
}

.currentReset {
  color: #80C423;
  border: 2px solid #80C423; /* Add a border around the text */
  padding: 5px; /* Add some padding to the text */

}


.progress {
  height: 100%;

  width: 0;
  transition: width 0.3s ease;
}

#target-progress {
  background-color: #80C423; /* Google Green */
}


.green-text {
  color: #80C423;
}

.top-hat-list {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  text-align: left;
}

.top-hat-icon {
  font-size: 2em; /* Adjust the size of the top hat icon */
  margin-right: 5px; /* Add some spacing between the top hat icon and the text */
}

.top-hat-list li {
  margin-bottom: 8px; /* Adjust the spacing as needed */
}

.list-text {
  font-size: 1em;
  color: white; /* Adjust the font size of the text */
}







